body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: "Arial"
}

.main_nav {
  background-color: #9ec0ff;
}

.main_nav ul {
  display: flex;
  margin-top: 0;
  height: 60px;
}

.main_nav ul li {
  display: inline-block;
  font-size: 20px;
  padding-right: 5%;
  line-height: 60px;
}

.main_nav ul li a {
  text-decoration: none;
}

.main_nav ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.row {
  margin: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main_content_left {
  font-size: 12px;
  margin-left: 10px;
  padding-left: 15px;
  float: left;
  width: 20%;
}

.main_content_right {
  font-size: 16px;
  margin-left: 30px;
  float: left;
  width: 70%;
}

.main_content_right a {
  text-decoration: none;
}

.card {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  border-radius: 50%;
}

#clock {
  /* font-family: 'Orbitron', sans-serif; */
  color: #081970;
  text-align: center;
  font-size: 15px;
}

footer {
  font-size: 11px;
  padding-left: 10px;
  /* background-color: #91ccea; */
}
